<div class="dashboard-content-inner" style="min-height: 654px;">
			
    <!-- Dashboard Headline -->
    <div class="dashboard-headline">
        <h3>Manage Jobs</h3>

        <!-- Breadcrumbs -->
        <nav id="breadcrumbs" class="dark">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Dashboard</a></li>
                <li>Manage Jobs</li>
            </ul>
        </nav>
    </div>

    <!-- Row -->
    <div class="row">

        <!-- Dashboard Box -->
        <div class="col-xl-12">
            <div class="dashboard-box margin-top-0">

                <!-- Headline -->
                <div class="headline">
                    <h3><i class="icon-material-outline-business-center"></i> My Job Listings</h3>
                </div>

                <div class="content">
                    <ul class="dashboard-box-list">
                        <li>
                            <!-- Job Listing -->
                            <div *ngFor="let job of jobs" class="job-listing">

                                <!-- Job Listing Details -->
                                <div class="job-listing-details">

                                    <!-- Logo -->
<!-- 											<a href="#" class="job-listing-company-logo">
                                        <img src="images/company-logo-05.png" alt="">
                                    </a> -->

                                    <!-- Details -->
                                    <div class="job-listing-description">
                                        <h3 class="job-listing-title"><a routerLink="/job/{{job.id}}">{{job.title }}</a> </h3>

                                        <!-- Job Listing Footer -->
                                        <div class="job-listing-footer">
                                            <ul>
                                                <li><i class="icon-material-outline-date-range"></i> {{job.created | date:'yyyy-MM-dd'}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Buttons -->
                            <div class="buttons-to-right always-visible">
                                <a href="dashboard-manage-candidates.html" class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> Manage Candidates <span class="button-info">0</span></a>
                                <a href="#" class="button gray ripple-effect ico" data-tippy-placement="top" data-tippy="" data-original-title="Edit"><i class="icon-feather-edit"></i></a>
                                <a href="#" class="button gray ripple-effect ico" data-tippy-placement="top" data-tippy="" data-original-title="Remove"><i class="icon-feather-trash-2"></i></a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- Row / End -->

    <!-- Footer -->
    <div class="dashboard-footer-spacer" style="padding-top: 160.6px;"></div>
    <div class="small-footer margin-top-15">
        <div class="small-footer-copyrights">
            © 2019 <strong>Hireo</strong>. All Rights Reserved.
        </div>
        <ul class="footer-social-links">
            <li>
                <a href="#" data-tippy-placement="top" data-tippy="" data-original-title="Facebook">
                    <i class="icon-brand-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="#" data-tippy-placement="top" data-tippy="" data-original-title="Twitter">
                    <i class="icon-brand-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#" data-tippy-placement="top" data-tippy="" data-original-title="Google Plus">
                    <i class="icon-brand-google-plus-g"></i>
                </a>
            </li>
            <li>
                <a href="#" data-tippy-placement="top" data-tippy="" data-original-title="LinkedIn">
                    <i class="icon-brand-linkedin-in"></i>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- Footer / End -->

</div>