<div class="dashboard-content-container" data-simplebar>
  <div class="dashboard-content-inner">
    <div class="margin-top-100"></div>
    <!-- Row -->
    <div class="row">

      <!-- Dashboard Box -->
      <div class="col-xl-12">
        <div class="dashboard-box margin-top-0">

          <!-- Headline -->
          <div class="headline">
            <h3><i class="icon-feather-folder-plus"></i> Job Submission Form</h3>
          </div>
          <form [formGroup]="jobForm">
            <div class="content with-padding padding-bottom-10">
              <div class="row">

                <div class="col-xl-4">
                  <div class="submit-field">
                    <h5>Job Title</h5>
                    <input type="text" class="with-border" formControlName="title">
                  </div>
                </div>

                <div class="col-xl-4">
                  <div class="submit-field">
                    <h5>Job Category</h5>
                    <select class="selectpicker with-border" data-size="7" placeholder="Select Job Category"
                      formControlName="categoryId">
                      <option *ngFor="let category of jobCategories" 
                      [value]="category.id">{{category.categoryName}}</option>
                    </select>
                  </div>
                </div>

                <div class="col-xl-4">
                  <div class="submit-field">
                    <h5>Expected Days</h5>
                    <div class="input-with-icon">
                      <div id="autocomplete-container">
                        <input id="autocomplete-input" class="with-border" type="text" placeholder="Expected Days"
                          formControlName="expectedDays">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xl-4">
                  <div class="submit-field">
                    <h5>Budget</h5>
                    <div class="input-with-icon">
                      <div id="autocomplete-container">
                        <input id="autocomplete-input" class="with-border" type="text" placeholder="Budget"
                          formControlName="budget">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xl-4">
                <div class="submit-field">
                  <h5>Skills <span></span>  <i class="help-icon" data-tippy-placement="right"></i></h5>
                  <div class="keywords-container">
                    <div class="keyword-input-container">
                      <input type="text" class="keyword-input with-border" placeholder="e.g. job title, responsibilities" #skillInput />
                      <button class="keyword-input-button ripple-effect" (click)="addSkill(skillInput.value)"><i class="icon-material-outline-add"></i></button>
                    </div>
                    <div class="keywords-list" *ngFor="let skill of jobForm.get('skills')?.value" class="keyword">{{ skill }}
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>

              </div>
              <div class="col-xl-12">
                <div class="submit-field">
                  <h5>Job Description</h5>
                  <textarea cols="30" rows="5" class="with-border" formControlName="description"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-12">
    <button type="submit" (click)="onSubmit()" class="button ripple-effect big margin-top-30"><i
        class="icon-feather-plus"></i> Post a Job </button>
  </div>
</div>
<!-- Row / End -->

<!-- Footer -->
<!-- <div class="dashboard-footer-spacer"></div>
<div class="small-footer margin-top-15">
  <div class="small-footer-copyrights">
    © 2019 <strong>Hireo</strong>. All Rights Reserved.
  </div>
  <ul class="footer-social-links">
    <li>
      <a href="#" title="Facebook" data-tippy-placement="top">
        <i class="icon-brand-facebook-f"></i>
      </a>
    </li>
    <li>
      <a href="#" title="Twitter" data-tippy-placement="top">
        <i class="icon-brand-twitter"></i>
      </a>
    </li>
    <li>
      <a href="#" title="Google Plus" data-tippy-placement="top">
        <i class="icon-brand-google-plus-g"></i>
      </a>
    </li>
    <li>
      <a href="#" title="LinkedIn" data-tippy-placement="top">
        <i class="icon-brand-linkedin-in"></i>
      </a>
    </li>
  </ul>
  <div class="clearfix"></div>
</div> -->
